streamlit
python-dotenv
pypdf
pymupdf
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-pinecone
pinecone-client
cryptography>=3.4
sentence-transformers>=2.2.2
torch
transformers
streamlit-lottie
requests